.hero-container{
    max-width: 734px;
    margin: auto;
    text-align: center;
    & img{
        max-width: 720px;
        object-fit: contain;
    }
    & h1{
        font-weight: 700;
        font-size: 40px;
    }
    & p {
        max-width: 590px;
        font-size: 20px;
        line-height: 30px;
    }
}